@model AddUser

<form method="post">
    <div>
        <h2>Регистрация</h2>
    </div>

    <div class="text-danger font-weight-bold" asp-validation-summary="All"></div>
    <div class="row">
        <div class="col-6">
            <label asp-for="UserName">Логин</label><br />
            <input asp-for="UserName" class="form-control" />
            <span asp-validation-for="UserName" />
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <label asp-for="Password">Пароль</label>
            <input asp-for="Password" class="form-control">
            <span asp-validation-for="Password" />
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <label asp-for="ConfirmPassword">Подтвердить пароль</label>
            <input asp-for="ConfirmPassword" class="form-control">
            <span asp-validation-for="ConfirmPassword" />
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <label asp-for="Phone">Телефон</label>
            <input asp-for="Phone" class="form-control">
            <span asp-validation-for="Phone" />
        </div>
    </div>

    <div>
        <button type="submit" asp-area="Admin" asp-controller="User" asp-action="Add">Зарегистрировать пользователя</button>
    </div>


</form>
