@model ChangePassword
<form method="post">
    <div class="row">

        <div class="col-md-12">

            <h2>Смена пароля для пользователя @ViewData["userName"]</h2>

            <div class="text-danger font-weight-bold" asp-validation-summary="All"></div>

            <input  type="hidden" name="UserName" value="@Model.UserName"/>

                <div class="form-group">
                    <label asp-for="Password">Пароль</label>
                    <input asp-for="Password" class="form-control">
                    <span asp-validation-for="Password" />
                </div>

                <div class="form-group">
                    <label asp-for="ConfirmPassword">Подтвердить пароль</label>
                    <input asp-for="ConfirmPassword" class="form-control">
                    <span asp-validation-for="ConfirmPassword" />
                </div>

                
                <div class="form-group">
                <button type="submit" class="btn btn-primary" asp-area="Admin" asp-controller="User" asp-action="ChangePassword">Сохранить</button>
                </div>
        </div>
    </div>
</form>