<div class="list-group list-group-flush d-block position-static mx-0 shadow-lg">
	<a class="list-group-item list-group-item-action" asp-controller="Home" asp-action="Index">Корм</a>
	<a class="list-group-item list-group-item-action" asp-controller="Home" asp-action="Index">Лакомства</a>
	<a class="list-group-item list-group-item-action" asp-controller="Home" asp-action="Index">Амуниция</a>
	<a class="list-group-item list-group-item-action" asp-controller="Home" asp-action="Index">Ветаптека</a>
</div>